<!-- views/home.ejs -->

<!DOCTYPE html>
<html id="home-page">
	<head>
		<title>Bank Account</title>

		<! -- CSS FILES -->
		<link rel="stylesheet" type="text/css" href="..public/css/style.css">

		<!-- JAVASCRIPT -->
		<script src="/js/main.js"></script>


	</head>

	<body>

		<!-- HOME SECTION -->

		<div  class="homediv">

			<div class="home-text">
				<center>
					<h1 class="display-1 homeH1">
            Testing
					</h1>
				</center>
			</div>

		</div>






	</body>
</html>
